<section class="header">
  <ul class="nav right">
    <li><fa-icon [icon]="hamburger" /> Menu</li>
    <li><fa-icon [icon]="language" /> Translate</li>
  </ul>
  <img src="../../../assets/logo.jpg" alt="Logo" />
  <ul class="nav left">
    <li><fa-icon [icon]="search" /> Search</li>
    <li><fa-icon [icon]="user" /><a routerLink="/user"> Logg In</a></li>
    <li><fa-icon [icon]="heart" /><a routerLink="/fav"> Favourites</a></li>
    <li><fa-icon [icon]="cart" /><a routerLink="/cart"> Shopping Cart</a></li>
  </ul>
</section>
